/* Adequar a página para dispositivo com telas inferiores a 600px de largura */

@media screen and (max-width: 600px) {
  html {
    font-size: auto;
    width: 100%;
  }

  header,
  footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .profile-link {
    margin-right: .5rem !important;
  }

}