/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header,
footer {
  width: 100% !important;
}

bio::after {
  content: '"';
}

bio::before {
  content: '"';
}

/* Botões personalizados */

.btn-link {
  margin: 15px;
  list-style: none;
}

.btn-primary {
  padding: 10px 20px;

  text-decoration: none;
  text-align: center;

  color: #fff;
  background-color: #000;
  border: 1px solid #fff;

  transition: all 0.5s 125ms;
}


.btn-secondary {
  padding: 10px;

  text-decoration: none;
  text-align: center;

  color: #000;
  background-color: #fff;

  transition: all 0.5s;
}

.btn-primary:hover {
  background-color: #fff;
  color: #000;

  border: 1px solid #000;
}

.btn-secondary:hover {
  background-color: #000;
  color: #fff;

  border: 1px solid #fff;
}

/* Bootstrap adapt */
.btn:focus,
.btn:active {
  color: #000 !important;
  background-color: #fff !important;
  border: 1px solid #fff !important;
  border-color: #fff !important;
  box-shadow: 0 0 1px 2px#fff !important;
}


/* Scroll */
::selection {
  background-color: rgb(191, 98, 210, 0.6);
  color: rgb(0, 0, 0);
}

::-moz-selection {
  background-color: rgb(191, 98, 210, 0.6);
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  filter: invert(1);
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(191, 98, 210, 0.6);
}

moz-scrollbar {
  filter: invert(1);
  width: 10px;
}

moz-scrollbar-thumb {
  background-color: rgba(191, 98, 210, 0.6);
}

/* tags semanticas para o perfil */

nav.profile_tags ul li[class^="skill"]::before {
  content: "🎯";
}

nav.profile_tags ul li[class^="level"]::before {
  content: "⏳";
}

nav.profile_tags ul li[class^="location"]::before {
  content: "🌎";
}