/* imagem de perfil */
img.profile_pic {
  image-rendering: pixelated;
  width: 90px;

  border: 1px solid #fff;
  border-radius: 50%;

  z-index: 1000;

  transition: all 0.25s;
}

div.picture.active img.profile_pic {
  position: absolute !important;
  right: 0 !important;
  top: calc(25vh - 45px) !important;

  transform: scale(3.5) !important;

  border: none !important;
  border-radius: 0 !important;
}

div.picture.active::before {
  content: "";

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;

  background-color: #000000BA;

  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

div.picture.active::after {
  content: "";

  display: block;

  width: 90px;
  height: 90px;

  border: 1px solid #fff;
  border-radius: 50%;


  background-image: url('https://www.gravatar.com/avatar/?s=90&d=mp');
  background-size: 90px;
}

/* Corrigindo alinhamento vertical do perfil no header */
.profile-link {
  line-height: 75px !important;
}

/* Animação dos links do rodapé */
section.technologies a {
  padding: 5px;

  transition: all 0.5s 125ms;
}

section.technologies a>img {
  width: 70px;
  height: 70px;
  filter: grayscale(1);

  transition: all 0.5s 20ms;
}

section.technologies a:hover img {
  filter: none;
}